@using WebsiteBanHang.Models;
@model List<GioHang>


@{
    List<GioHang> listGioHang = ViewBag.listGioHang as List<GioHang>;
}
<h1>Giỏ hàng của bạn (@ViewBag.TongSoLuong)</h1>

    <div  class="col-md-9 cart-items">


        @foreach (var item in listGioHang)
        {
            <div id="hide" class="cart-header">
                <a data-MaSP="@item.MaSP" @*href="@Url.Action("XoaGioHang", "GioHang", new { @MaSP = item.MaSP, @strURL = Request.Url.ToString() })"*@ class="close1"> </a>
                <div class="cart-sec simpleCart_shelfItem">
                    <div class="cart-item cyc">
                        <img src="@Url.Content("~/Content/images/"+item.HinhAnh)" class="img-responsive" alt="">
                    </div>
                    <div class="cart-item-info">
                        <h3><a href="#">@item.TenSP</a><span>Model No: 3578</span></h3>
                        <ul class="qty">
                            <li id="li_xemGH"><p>Số lượng: </p></li>
                            <a id="ThemSL" data-MaSP="@item.MaSP" data-slthem="@item.SoLuong" class="btn sl slthem" @*href="@Url.Action("ThemSL",("GioHang"), new { @MaSP = item.MaSP, strURL = Request.Url.ToString() })"*@>+</a>

                            <li id="li_xemGH"><p class="slsp" id="slsp"> @item.SoLuong</p></li>
                            <a data-slgiam="@item.SoLuong" data-MaSP="@item.MaSP" class="btn sl slgiam" @*href="@Url.Action("GiamSL",("GioHang"), new { @MaSP = item.MaSP, strURL = Request.Url.ToString() })"*@>-</a>
                        </ul>
                        @{
                            decimal? number = item.Dongia;
                            string GiaTien = number.Value.ToString("#,##0");
                        }
                        <div class="delivery">
                            <p>Giá: @GiaTien</p>
                            <span>Thời gian nhận hàng từ 5-7 ngày</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        }


    </div>
@{ 
    decimal tongtien = ViewBag.TongTien;
    string TongGiaTien = tongtien.ToString("#,##0");
}
    <div class="col-md-3 cart-total">
        <a class="continue" href="#">Thanh Toán</a>
        <div class="price-details">
            <h3>Chi Tiết</h3>
            <span>Tổng Tiền</span>
            <span class="total1">@TongGiaTien</span>
            <span>Giảm Giá</span>
            <span class="total1">---</span>
            <span>Hình thức thanh toán:</span>
            <span class="total1">
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="1" name="optradio" value="option1" checked>
                    <label class="form-check-label" for="1">Thanh Toán Khi Nhận Hàng</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="2" name="optradio" value="option2">
                    <label class="form-check-label" for="2">Ví MoMo</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="3" name="optradio" value="option3">
                    <label for="3" class="form-check-label">VN Pay</label>
                </div>
            </span>

            <div class="clearfix"></div>
        </div>
        <ul class="total_price">
            <li class="last_price"> <h4>TỔNG</h4></li>
            <li class="last_price"><span>@TongGiaTien </span></li>
            <div class="clearfix"> </div>
        </ul>


        <div class="clearfix"></div>
        <a class="order" id="btn-dathang" @*href="@Url.Action("DatHang","DatHang")"*@>ĐẶT HÀNG</a>

    </div>


    <script>

        var check = $("#logout").length;

        var val = 1;
        $(".form-check-input").click(function () {

            val = $(this).attr("id");


        })

        $("#btn-dathang").click(function () {
            if (check) {
                var url = "http://localhost:62979/DatHang/DatHang?id=" + val;
                window.location.href = url;
            } else {
                alert("Vui lòng đăng nhập để thanh toán!");
            }


        })

        $(".slthem").click(function () {

            var MaSP = $(this).attr("data-MaSP");


            $.ajax({
                type: "get",

                url: "http://localhost:62979/GioHang/ThemSl?MaSP=" + MaSP,
                contentType: "html",

                success: function (response) {
                    debugger

                    $("#test").html(response);

                }
            })

            $.ajax({
                url: "http://localhost:62979/GioHang/CapNhatGioHang",
                contentType: "html",

                success: function (response) {
                    debugger

                    $("#GioHangPartial").html(response);


                }
            })
        })

        $(".slgiam").click(function () {

            var MaSP = $(this).attr("data-MaSP");

            $.ajax({
                type: "get",

                url: "http://localhost:62979/GioHang/GiamSL?MaSP=" + MaSP,
                contentType: "html",

                success: function (response) {
                    debugger

                    $("#test").html(response);


                }
            })
            $.ajax({
                url: "http://localhost:62979/GioHang/CapNhatGioHang",
                contentType: "html",

                success: function (response) {
                    debugger

                    $("#GioHangPartial").html(response);


                }
            })
        })

        $(".close1").click(function () {
            var MaSP = $(this).attr("data-MaSP");
            $.ajax({
                url: "http://localhost:62979/GioHang/XoaGioHang?MaSP=" + MaSP,
                contentType: "html",

                success: function (response) {
                    debugger

                    $("#test").html(response);


                }
            })
            $.ajax({
                url: "http://localhost:62979/GioHang/CapNhatGioHang",
                contentType: "html",

                success: function (response) {
                    debugger

                    $("#GioHangPartial").html(response);


                }
            })
        })
    </script>
