@using WebsiteBanHang.Models;
@model List<GioHang>


@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<div class="container">
    @if (Model.Count == 0)
    {
        <h2>Giỏ hàng hiện đang trống</h2>
    }
    else
    {
        <div class="check">
            <h1>Giỏ hàng của bạn (@ViewBag.TongSoLuong)</h1>
            <div class="col-md-9 cart-items">

                <script>
                    $(document).ready(function (c) {
                        $('.close1').on('click', function (c) {
                            $('.cart-header').fadeOut('slow', function (c) {
                                $('.cart-header').remove();
                            });
                        });
                    });
                </script>
                @foreach (var item in Model)
                {
                    <div class="cart-header">
                        <a href="@Url.Action("XoaGioHang", "GioHang", new { @MaSP = item.MaSP, @strURL = Request.Url.ToString() })" class="close1"> </a>
                        <div class="cart-sec simpleCart_shelfItem">
                            <div class="cart-item cyc">
                                <img src="@Url.Content("~/Content/images/"+item.HinhAnh)" class="img-responsive" alt="">
                            </div>
                            <div class="cart-item-info">
                                <h3><a href="#">@item.TenSP</a><span>Model No: 3578</span></h3>
                                <ul class="qty">
                                    <li id="li_xemGH"><p>Số lượng: </p></li>
                                    <a class="btn sl" href="@Url.Action("ThemSL",("GioHang"), new { @MaSP = item.MaSP, strURL = Request.Url.ToString() })">+</a>

                                    <li id="li_xemGH"><p> @item.SoLuong</p></li>
                                    <a class="btn sl" href="@Url.Action("GiamSL",("GioHang"), new { @MaSP = item.MaSP, strURL = Request.Url.ToString() })">-</a>
                                </ul>

                                <div class="delivery">
                                    <p>Giá: @item.Dongia</p>
                                    <span>Thời gian nhận hàng từ 5-7 ngày</span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                }
                <script>
                    $(document).ready(function (c) {
                        $('.close2').on('click', function (c) {
                            $('.cart-header2').fadeOut('slow', function (c) {
                                $('.cart-header2').remove();
                            });
                        });
                    });
                </script>

            </div>
        </div>
        <div class="col-md-3 cart-total">
            <a class="continue" href="#">Continue to basket</a>
            <div class="price-details">
                <h3>Price Details</h3>
                <span>Total</span>
                <span class="total1">@ViewBag.TongTien</span>
                <span>Discount</span>
                <span class="total1">---</span>
                <span>Delivery Charges</span>
                <span class="total1">----</span>
                <div class="clearfix"></div>
            </div>
            <ul class="total_price">
                <li class="last_price"> <h4>TOTAL</h4></li>
                <li class="last_price"><span>@ViewBag.TongTien </span></li>
                <div class="clearfix"> </div>
            </ul>


            <div class="clearfix"></div>
            <a class="order" href="#">Place Order</a>
            <div class="total-item">
                <h3>OPTIONS</h3>
                <h4>COUPONS</h4>
                <a class="cpns" href="#">Apply Coupons</a>
                <p><a href="#">Log In</a> to use accounts - linked coupons</p>
            </div>
        </div>
    }

    <div class="clearfix"> </div>
</div>
    </div>

