@model WebsiteBanHang.Models.ThanhVien

@{
    ViewBag.Title = "CapNhatThongTin";
    Layout = "~/Views/Layout/SearchLayout.cshtml";
}


<div class=" container">
    <div class=" register">
        <h1>CẬP NHẬT THÔNG TIN TÀI KHOẢN</h1>
        @using (Html.BeginForm("CapNhatThongTin", "Home", FormMethod.Post))
        {

            <div class="col-md-6 register-top-grid">
                <h3>Thông tin người dùng</h3>
              
                <input type="hidden" name="MaThanhVien" value="@Model.MaThanhVien" />
                <div>
                    <span>Họ tên</span>
                    <input name="HoTen" type="text" value="@Model.HoTen">
                </div>

                <div>
                    <span>Email</span>
                    <input style="background-color: #e8e8e9" readonly name="Email" type="text" value="@Model.Email">
                </div>
                <div>
                    <span>Điện thoại</span>
                    <input name="SDT" type="text" value="@Model.SDT">
                </div>


                <div>
                    <span class="label-m10">Tỉnh</span>
                    @Html.DropDownList("MaTinh", null, new { @class = "form-select", @id = "idTinh" })
                </div>
                <div>
                    <span class="label-m10">Huyện</span>
                    @Html.DropDownList("MaHuyen", new SelectList(""), "", new { @class = "form-select", @id = "idHuyen" })
                </div>
                <div>
                    <span class="label-m10">Xã</span>
                    @Html.DropDownList("MaXa", new SelectList(""), "", new { @class = "form-select", @id = "idXa" })
                </div>
                <div>
                    <span>Địa chỉ</span>
                    <input name="DiaChi" type="text" value="@Model.DiaChi">
                </div>


                <a class="news-letter" href="#">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Sign Up for Newsletter</label>
                </a>
            </div>

            <div class="col-md-6 register-bottom-grid">
                <h3>Thông tin tài khoản</h3>
                <div>
                    <span>Tài khoản</span>
                    <input style="background-color: #e8e8e9"  readonly id="txbTK" name="TaiKhoan" type="text" value="@Model.TaiKhoan">
                </div>

                @*<div>
                    <span>Mật khẩu</span>
                    <input id="password" name="MatKhau" type="password" value="@Model.MatKhau">
                </div>*@

                

                <input id="btn-dangky" type="submit" value="Cập Nhật">
                <a href="@Url.Action("ChangePass", "Home")">Đổi mật khẩu</a>
            </div>
            <div class="clearfix"> </div>

        }
        <h2 style="color:aqua">@ViewBag.ThongBao</h2>

    </div>
</div>
<script>
    $("#idTinh").change(function () {
        var idTinh = $(this).val();
        $.ajax({
            type: "post",

            url: "http://localhost:62979/Home/LayHuyen?idTinh=" + idTinh,
            contentType: "html",
            success: function (response) {
                debugger
                //$('#idHuyen').children().remove().end()
                $("#idHuyen").empty();
                $("#idHuyen").append(response);
            }
        })

    })


    $("#idHuyen").change(function () {
        var idHuyen = $(this).val();
        $.ajax({
            type: "post",

            url: "http://localhost:62979/Home/LayXa?idHuyen=" + idHuyen,
            contentType: "html",
            success: function (response) {
                debugger
                //$('#idHuyen').children().remove().end()
                $("#idXa").empty();
                $("#idXa").append(response);
            }
        })

    })





</script>


