@using WebsiteBanHang.Models;
@model IEnumerable<SanPham>


    <div class="content-top container flash-sale">
        <div>
            <h1>SẢN PHẨM BÁN CHẠY</h1>
            <div class="grid-in row">
                @foreach (var item in Model)

                {

                    <article class="card col-4" >
                        <header  class="card__thumb">
                            <a  href="@Url.Action("XemChiTietSP","SanPham", new {@id=item.MaSP, @MaShop = item.MaShop})"><img style="width:200px"  src="@Url.Content("~/Content/images/"+item.HinhAnh)" /></a>
                        </header>
                        <date class="card__date">
                            <span class="card__date__day">11</span>
                            <br />
                            <span class="card__date__month">Jan</span>
                        </date>
                        <div class="card__body">
                            @*<div class="card__category"><a href="#">pet</a></div>*@
                            <h6 class="card__title"><a class="card__title__a" href="#">@item.TenSP</a></h6>
                           
                           
                            <p class="card__description">@item.MoTaNgan</p>
                        </div>
                        <footer class="card__footer">
                            <span class="icon ion-clock"></span> @item.NgayCapNhat
                            <span class="icon ion-chatbox">@item.LuotBinhLuan bình luận</span><a href="#"></a>
                        </footer>
                    </article>

                }
            </div>
        </div>
        </div>
        <div class="clearfix"></div>
  

