@using WebsiteBanHang.Models;
@model List<SanPham>



@{
    ViewBag.Title = "SearchSP";
    Layout = "~/Views/Layout/SearchLayout.cshtml";
    int SlSPTrenTrang = 7;
    int Trang = 1;
    int DemSLSPTrenTrang = 1;
    int count = Model.Count;
    int tongTrang = count / SlSPTrenTrang;
    List<Shop> listshop = ViewBag.listshop as List<Shop>;
    List<SanPham> listSP = ViewBag.listSP as List<SanPham>;
}


<div id="carousel-shop" class="container row mt-4">
    <div class="col-8">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://cf.shopee.vn/file/5b5de1582d99cbbe75a8f9a5c4dae1c2_xxhdpi" alt="Los Angeles" class="d-block" style="width:100%">

                </div>
                <div class="carousel-item">
                    <img src="https://cf.shopee.vn/file/de333f446f88895d51792dbd664702ce_xxhdpi" alt="Chicago" class="d-block" style="width:100%">

                </div>
                <div class="carousel-item">
                    <img src="https://cf.shopee.vn/file/3a0f85b0c33d501b0ac1a950e11ae5ec_xxhdpi" alt="New York" class="d-block" style="width:100%">

                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <img src="https://cf.shopee.vn/file/f966bd52777b25fb78c96f19b1ae7981_xhdpi" alt="Alternate Text" />
        </div>
        <div class="row">
            <img src="https://cf.shopee.vn/file/1b8c384a76da24669699dfe18dfd704f_xhdpi" alt="Alternate Text" />
        </div>
    </div>
</div>


<div class="content-top-bottom flash-sale">

    @if (listshop.Count() > 0)
    {
        <h2>Danh sách tìm Shop</h2>
        foreach (var item in listshop)
        {
            if (DemSLSPTrenTrang % SlSPTrenTrang == 0)
            {
                Trang++;
            }
            
           


            <div class="row card-shop mb-4">
                <a href="@Url.Action("XemShop","Shop", new {@MaShop=item.MaShop})" class="b-link-stripe b-animate-go col-2  thickbox">
                    <img class="img-responsive rounded-circle" src="@Url.Content("~/Content/images/"+item.avt)" alt="">

                </a>
                <p style="font-size:20px" class="col-4 mx-auto d-block"><b>@item.TenShop</b></p>
                <div class="col-5 mx-auto d-block" id="infor-shop">
                    <div class="row">

                        <div class="col-3 item-infor mx-auto d-block">@item.SanPham.Count() Sản Phẩm</div>
                        <div class="col-3 item-infor">5.0 Đánh Giá</div>
                        <div class="col-3 item-infor">100% Tỷ Lệ Phản Hồi</div>
                        <div class="col-3 item-infor">Trong Vài Giờ</div>
                    </div>

                </div>
            </div>

            DemSLSPTrenTrang++;
          
        }
    }




</div>
<div class="clearfix"></div>
<div class="container row">
    <h1 class="text-center">Sản Phẩm Tìm Kiếm</h1>
    @foreach (var item in Model)
    {
        if (DemSLSPTrenTrang % SlSPTrenTrang == 0)
        {
            Trang++;
        }
        decimal? number = item.DonGia;
        string GiaTien = number.Value.ToString("#,##0");

        <div class="cardContainer inactive col-2">

            <div class="@Url.Content(" cardFlashSale  men grid-top itemSearch Trang_"+Trang.ToString())">
                <a href="@Url.Action("XemChiTietSP","SanPham", new {@id = item.MaSP, @MaShop = item.MaShop})">
                    <div class="side front">


                        <img class="img img1" src="@Url.Content(item.HinhAnh)" alt="Alternate Text" />
                        <div class="info">

                            <p>@item.TenSP</p>
                            <div class="row">
                                <p style="font-size:13px; font-weight" class="number item_price col-6"><i> </i>@GiaTien</p>

                            </div>
                        </div>
                    </div>
                    <div class="side back">
                        <div class="info">
                            <h2>At a glance</h2>
                            <div class="reviews">
                                <svg fill="#FFC324" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none" /><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" /><path d="M0 0h24v24H0z" fill="none" /></svg>
                                <svg fill="#FFC324" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none" /><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" /><path d="M0 0h24v24H0z" fill="none" /></svg>
                                <svg fill="#FFC324" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none" /><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" /><path d="M0 0h24v24H0z" fill="none" /></svg>
                                <svg fill="#FFC324" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none" /><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" /><path d="M0 0h24v24H0z" fill="none" /></svg>
                                <svg fill="#FFC324" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <defs><path d="M0 0h24v24H0V0z" id="a" /></defs>
                                    <clipPath id="b"><use overflow="visible" xlink:href="#a" /></clipPath>
                                    <path clip-path="url(#b)" d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4V6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z" />
                                </svg>
                                <p>23 Reviews</p>
                            </div>
                            <ul>
                                <li>Manage backyard gates with ease with the 36" deck option</li>
                                <li>Your choice of deck sizes ranging from 36", 48", 52" and 60"</li>
                                <li>Updated hip bolstering offers superior operator comfort and positioning</li>
                            </ul>
                            <div class="btn">
                                <h4>Learn More</h4>
                                <svg fill="#333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" /><path d="M0-.25h24v24H0z" fill="none" /></svg>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        DemSLSPTrenTrang++;
    }

</div>


<div class="clearfix"> </div>

<nav class="in">
    <ul class="pagination justify-content-end">

        @if (count % SlSPTrenTrang == 0)
        {
            for (var i = 1; i <= tongTrang; i++)
            {
                <li class="page-item "><a data-page="Trang_@Url.Content(i.ToString())" class="page-link test linkPage" href="#">@i</a></li>

            }
        }
        else
        {
            for (var i = 1; i <= (tongTrang + 1); i++)
            {
                <li class="page-item "><a class="page-link test linkPage" data-page="Trang_@Url.Content(i.ToString())" href="#">@i</a></li>


            }
        }

    </ul>
</nav>
<style>
    .itemSearch {
        display: none;
    }

    .Trang_1 {
        display: block;
    }
</style>
<script>
    $('.linkPage').click(function () {
        $('.itemSearch').hide();
        // lay gia tri trang click vao
        var s = $(this).attr('data-page');
        //var s = $(this).data("page");
        // show ra sp cua trnag do

        $('.'+@Url.Content("s")).show();


    })


    $(document).ready(function () {
        $('#list').click(function (event) { event.preventDefault(); $('#products .item').addClass('list-group-item'); });
        $('#grid').click(function (event) { event.preventDefault(); $('#products .item').removeClass('list-group-item'); $('#products .item').addClass('grid-group-item'); });
    });



</script>

