@using WebsiteBanHang.Models
@model List<DonDatHang>

@{
    ViewBag.Title = "DonHangChoXacNhan";
    Layout = "~/Views/Layout/AdminHomeLayout.cshtml";
}

<h2>DonHangChoXacNhan</h2>

<div class="container mt-3" style="padding-top:80px;">
    <h2>Danh Sách Đơn Hàng Chờ Xác Nhận</h2>

    <table class="table table-light table-hover table-bordered " style="z-index:99999;">
        <thead>
            <tr class="row">
                <th class="col-1">STT</th>
                <th class="col-1">Tên Người Mua</th>
                <th class="col-2">Địa Chỉ</th>
                <th class="col-1">Thời Gian Đặt</th>
                <th class="col-1">Ưu Đãi</th>
                <th class="col-1">Tình Trạng GH</th>
                <th class="col-1">Hình Thức Thanh Toán</th>
                <th class="col-1">Tình Trạng TT</th>
                <th class="col-3">Thao Tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="row ">
                    <td class="col-1">@item.MaDDH</td>
                    <td class="col-1">@item.ThanhVien.HoTen</td>
                    <td class="col-2">@item.ThanhVien.DiaChi, @item.Xa.TenXa, @item.Huyen.TenHuyen, @item.Tinh.TenTinh</td>
                    <td class="col-1">@item.NgayDat</td>
                    <td class="col-1">@item.UuDai</td>
                    <td class="col-1">@item.TinhTrangGiaoHang.TenTinhTrang</td>
                    <td class="col-1">@item.HinhThucThanhToan</td>
                    @if (@item.DaThanhToan == true)
                    {
                        <td class="col-1">Đã Thanh Toán</td>
                    }
                    else
                    {
                        <td class="col-1">Chưa Thanh Toán</td>
                    }



                    <td class="col-3">
                        <a href="@Url.Action("XemChiTietDonHang","Admin", new { @MaDDH = item.MaDDH })" class="btn btn-primary">Xem Chi Tiết</a>
                        <a href="@Url.Action("XacNhanDonHang","Admin", new { @MaDDH = item.MaDDH })" class="btn btn-success">Xác Nhận</a>
                    </td>






                </tr>
            }


        </tbody>
       
    </table>

    
</div>