@using WebsiteBanHang.Models
@model List<DonDatHang>

@{
    ViewBag.Title = "DonHangThanhCong";
    Layout = "~/Views/Layout/AdminHomeLayout.cshtml";
    int i = 1;
}

@{
    int soLSP = 1;
    int TongLSP = Model.Count();
    int soLSPHienThi = 8;
    int soTrang = TongLSP / soLSPHienThi;
    int kq = TongLSP % soLSPHienThi == 0 ? TongLSP / soLSPHienThi : (TongLSP / soLSPHienThi) + 1;
    int Trang = 1;
}


    <h2>Danh Sách Đơn Hàng Giao Thành Công </h2>

    <table id="example" class="table table-light table-hover table-bordered " style="z-index:99999;">
        <thead>
            <tr>
                <th>Mã Đơn</th>
                <th>Tên Người Mua</th>
                <th>Thời Gian Đặt</th>
                <th>Ưu Đãi</th>
                <th>Tình Trạng GH</th>
                <th>Shipper</th>
                <th>Hình Thức Thanh Toán</th>



            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (soLSP % soLSPHienThi == 0)
                {
                    Trang++;
                }
                <tr class=" @Url.Content("itemLSP Trang_"+Trang)">
                    <td>@i</td>
                    <td>@item.ThanhVien.HoTen</td>
                    <td>@item.NgayDat</td>
                    <td>@item.UuDai</td>
                    <td>@item.TinhTrangGiaoHang.TenTinhTrang</td>
                    <td>@item.Shipper.TenShip</td>
                    <td>@item.HinhThucThanhToan</td>





                </tr>
                i++;
            }


        </tbody>

    </table>

<style>
    .itemLSP {
        display: none;
    }
</style>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    })
    $(".Trang_1").show();
    $('.page-item').click(function () {
        $('.itemLSP').hide();
        var Trang = $(this).attr("data-Trang");

        $('.Trang_' + Trang).show();
    })

</script>



