
@{
    ViewBag.Title = "DonHangThanhCong";
    Layout = "~/Views/Layout/AdminHomeLayout.cshtml";
}

<div class="container mt-3">
    <h2>Danh Sách Đơn Hàng Giao Thành Công </h2>

    <table class="table table-light table-hover table-bordered " style="z-index:99999;">
        <thead>
            <tr>
                <th>Mã Đơn</th>
                <th>Tên Người Mua</th>
                <th>Thời Gian Đặt</th>
                <th>Ưu Đãi</th>
                <th>Tình Trạng GH</th>
                <th>Hình Thức Thanh Toán</th>
                


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaDDH</td>
                    <td>@item.ThanhVien.HoTen</td>
                    <td>@item.NgayDat</td>
                    <td>@item.UuDai</td>
                    <td>@item.TinhTrangGiaoHang.TenTinhTrang</td>
                    <td>@item.HinhThucThanhToan</td>
                   




                </tr>
            }


        </tbody>

    </table>


</div>



