
@using WebsiteBanHang.Models
@model SanPham

@{
    ViewBag.Title = "ThemSanPham";
    Layout = "~/Views/Layout/AdminHomeLayout.cshtml";
}

<h2>Thêm Sản Phẩm</h2>

@using (Html.BeginForm("ThemSanPham", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "form-addsp" }))
{


<div class="form-horizontal">

    <hr />



    <div class="form-group">
        <label class="col-md-2 control-label">Tên Sản Phẩm</label>

        <div class="col-md-10">
            @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control", @id = "TenSP", @required = "required" } })
            <p style="color:red" id="error"></p>

        </div>
    </div>
    @*<div class="form-group">
        <label class="col-md-2 control-label">Giá Nhập Vào </label>
        <div class="col-md-10">
            <input required class="form-control"  type="number" id="NhapVao" name="NhapVao" value="" />
            <p style="color:red" id="error1"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Đơn giá</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control", @id = "Gia", @required = "required", @type = "number" } })
            <p style="color:red" id="error1"></p>
        </div>
    </div>*@

    <div class="form-group">
        <label class="col-md-2 control-label">Ngày Cập Nhật</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.NgayCapNhat, new { htmlAttributes = new { @id = "myDate", @class = "form-control" } })

        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Mô Tả Ngắn</label>

        <div class="col-md-10">
            @Html.EditorFor(model => model.MoTaNgan, new { htmlAttributes = new { @class = "form-control", @id = "MoTaNgan", @required = "required" } })
            <p style="color:red" id="error"></p>

        </div>
    </div>


    <div class="form-group">
        <label class="col-md-2 control-label">Mô tả</label>
        <div class="col-md-10">
            <textarea name="MoTa" class="form-control" id="mytextarea"></textarea>


        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Hình Ảnh</label>
        <div class="col-md-10">
            <img style="width: 150px;" id="preview-img" src="~/Content/images/no_img.png" alt="Alternate Text" />

            <input id="hsp_tentaptin" type="file" name="HinhAnh" value="" />
            <input type="hidden" name="url1" id="url1" value="" />

        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Hình Ảnh 1</label>
        <div class="col-md-10">
            <img style="width: 150px;" id="preview-img1" src="~/Content/images/no_img.png" alt="Alternate Text" />

            <input id="hsp_tentaptin1" type="file" name="HinhAnh" value="" />
            <input type="hidden" name="url2" id="url2" value="" />

        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Hình Ảnh 2</label>
        <div class="col-md-10">
            <img style="width: 150px;" id="preview-img2" src="~/Content/images/no_img.png" alt="Alternate Text" />

            <input id="hsp_tentaptin2" type="file" name="HinhAnh" value="" />
            <input type="hidden" name="url3" id="url3" value="" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Hình Ảnh 3</label>
        <div class="col-md-10">
            <img style="width: 150px;" id="preview-img3" src="~/Content/images/no_img.png" alt="Alternate Text" />

            <input id="hsp_tentaptin3" type="file" name="HinhAnh" value="" />

            <input type="hidden" name="url4" id="url4" value="" />
        </div>
    </div>



    @*<div class="form-group">
            <label class="col-md-2 control-label">Số Lượng Tồn</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "form-control", @required = "required" } })

            </div>
        </div>*@





    @*<div class="form-group">
        <label class="col-md-2 control-label">Lượt Bình Luận</label>
        <div class="col-md-10">
            <input class="form-control" readonly type="number" name="LuotBinhLuan" value="0" />

        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Số Lần Mua</label>
        <div class="col-md-10">
            <input class="form-control" readonly type="number" name="SoLanMua" value="0" />

        </div>
    </div>*@

    @*<div class="form-group">
        <label class="col-md-2 control-label">Mới</label>
        <div class="col-md-10">
            <input class="form-control" readonly type="number" name="Moi" value="1" />

        </div>
    </div>*@

    <div class="form-group">
        <label class="col-md-2 control-label">Nhà CC</label>
        <div class="col-md-10">
            @Html.DropDownList("MaNCC", null, new { @class = "form-control" })

        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Nhà SX</label>
        <div class="col-md-10">
            @Html.DropDownList("MaNSX", null, new { @class = "form-control" })

        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Loại Sản Phẩm</label>
        <div class="col-md-10">
            @Html.DropDownList("MaLoaiSP", null, new { @class = "form-control" })


        </div>
    </div>

    @*<div class="form-group">
        <label class="col-md-2 control-label">Đã Xóa</label>
        <div class="col-md-10">
            <input class="form-control" readonly type="number" name="DaXoa" value="0" />

        </div>
    </div>*@



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Tiếp tục" class="btn btn-success" id="btn-add" />
        </div>
    </div>


</div>

    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
}



<script>

    tinymce.init({

        selector: '#mytextarea',

        plugins: [

            'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',

            'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',

            'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'

        ],

        toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +

            'alignleft aligncenter alignright alignjustify | ' +

            'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'

    });

</script>
<script>
    const d = new Date();
    const m = new Date();
    const y = new Date();
    const hours = new Date();
    const Minutes = new Date();
    const month = m.getMonth() + 1;
    document.getElementById("myDate").value = d.getDate() + '/' + month + '/' + y.getFullYear() + ' ' + hours.getHours() + ':' + Minutes.getMinutes();
</script>

<script>


    // Hiển thị ảnh preview (xem trước) khi người dùng chọn Ảnh

    //hình 1
    const reader = new FileReader();
    const fileInput = document.getElementById("hsp_tentaptin");
    const img = document.getElementById("preview-img");
    reader.onload = e => {
        img.src = e.target.result;
    }
    fileInput.addEventListener('change', e => {
        const f = e.target.files[0];
        reader.readAsDataURL(f);
    })


    //hình 2
    const reader1 = new FileReader();
    const fileInput1 = document.getElementById("hsp_tentaptin1");
    const img1 = document.getElementById("preview-img1");
    reader1.onload = e => {
        img1.src = e.target.result;
    }
    fileInput1.addEventListener('change', e => {
        const f1 = e.target.files[0];
        reader1.readAsDataURL(f1);
    })

    //hình 3
    const reader2 = new FileReader();
    const fileInput2 = document.getElementById("hsp_tentaptin2");
    const img2 = document.getElementById("preview-img2");
    reader2.onload = e => {
        img2.src = e.target.result;
    }
    fileInput2.addEventListener('change', e => {
        const f2 = e.target.files[0];
        reader2.readAsDataURL(f2);
    })


    //hình 4
    const reader3 = new FileReader();
    const fileInput3 = document.getElementById("hsp_tentaptin3");
    const img3 = document.getElementById("preview-img3");
    reader3.onload = e => {
        img3.src = e.target.result;
    }
    fileInput3.addEventListener('change', e => {
        const f3 = e.target.files[0];
        reader3.readAsDataURL(f3);
    })
    $(document).ready(function () {
        $('form#form-addsp').submit(function (e) {
            /* const TenLoai = $("#TenLoai").val();*/

            e.preventDefault();
            const TenSP = $("#TenSP").val();
            const Gia = $("#Gia").val();
            const MoTaNgan = $("#MoTaNgan").val();
            const mytextarea = $("mytextarea").val();
            const GiaNhap = $("NhapVao").val();
            var formData = new FormData(this);
            var form = $(this);
            $.ajax({
                type: "POST",
                url: "http://localhost:62979/Admin/ThemSanPhama",
                data: form.serialize(), // serializes the form's elements.

                success: function (dataT) {
                    const MaSP = dataT.MaSP;
                    console.log(dataT) // show response from the php script.
                    if (dataT.mess == "success") {
                        $.ajax({
                            type: "POST",
                            url: "http://localhost:3000/users/",
                            data: formData, // serializes the form's elements.
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function (data) {
                                console.log(data.data.url) // show response from the php script.
                                if (data.status == true) {
                                    let acc = [];
                                    if (data.data.url.length > 0) {
                                        for (var k = 0; k < data.data.url.length; k++) {
                                            acc.push(data.data.url[k]);
                                        }
                                        console.log("acc", acc)

                                        //console.log(test) // show response from the php script.
                                        $.ajax({
                                            type: "POST",
                                            url: "http://localhost:62979/Admin/SaveAsImg",
                                            data: { MaSP: MaSP, url: acc }, // serializes the form's elements.

                                            success: function (dataT) {

                                                if (dataT.mess == "success") {
                                                    Swal.fire({

                                                        icon: 'success',
                                                        title: 'Thành công',
                                                        text: 'Đã chỉnh sửa sản phẩm thành công',
                                                        showConfirmButton: true,

                                                    }).then((result) => {
                                                        if (result.isConfirmed) {
                                                            window.location.href = "http://localhost:62979/Admin/XemSanPham"
                                                        }
                                                    })
                                                }
                                                else {
                                                    Swal.fire({

                                                        icon: 'error',
                                                        title: 'Xảy ra lỗi',
                                                        text: 'Đã xảy ra lỗi, vui lòng thử lại sau!',
                                                        showConfirmButton: true,

                                                    })
                                                }
                                               
                                            }
                                        });
                                       
                                    }
                                }

                            }
                        });
                    }



                }
            });
         
        });
    });
    $("#btn-size").click(function () {
        $(".size").append(' <div class= "form-group" >'+
           ' <label class="col-md-2 control-label">Kích cỡ/Màu sắc</label>'+
          '  <div class="col-md-10">'+
              '  <input class="form-control" type="text" name="Ten"  />'+

           ' </div>'+
      '  </div >'+
           ' <div class="form-group">'+
              '  <label class="col-md-2 control-label">Số Lượng</label>'+
             '   <div class="col-md-10">'+
                  '  <input class="form-control" type="number" name="SL" value="0" />'+

              '  </div>'+
           ' </div>'
        )
       
    })
  
</script>


