@using WebsiteBanHang.Models
@model BinhLuan

@{
    ViewBag.Title = "TraLoiBinhLuan";
    Layout = "~/Views/Layout/AdminHomeLayout.cshtml";
}
@{ 
    List<TraLoiBinhLuan> list = ViewBag.list as List<TraLoiBinhLuan>;
}

<div style="min-height: 600px" class="container mt-3" >
    <h2>Trả Lời Đánh Giá</h2>
    <div id="TraLoi" class="form-control">
        <div>
            <label>@Model.ChiTietDonDatHang.DonDatHang.ThanhVien.HoTen</label>
        </div>
        <div>
            @Model.NoiDungBL


        </div>
        <div>
            <div id="cmtAdmin" class="mb-4">
                @if (list != null)
                {
                    for (int i = 0; i < list.Count(); i++)
                    {
                        if (list[i].MaBL == Model.MaBL)
                        {
                            <div id="itemCmtAdmin">
                                <div class="mg-8">
                                    <div>
                                        <label>@ViewBag.tensop</label>
                                    </div>
                                    <div>
                                        @list[i].NoiDungTraLoi
                                    </div>
                                </div>
                            </div>
                            
                        }
                    }
                }


            </div>
            <div id="form-TL">
                @using (Html.BeginForm("TraLoiBinhLuan2", "Admin", FormMethod.Post, new { @id = "form-bl" }))
                {
                    <input type="hidden" name="MaSP" value="@Model.MaSP" />
                    <input type="hidden" name="MaThanhVien" value="@Model.ChiTietDonDatHang.DonDatHang.MaKH" />
                    <input type="hidden" name="MaBL" value="@Model.MaBL" />
                    <input class="form-control" type="text" name="NoiDungTraLoi" value="" />


                    <div id="button">

                        <input id="btn-BL" type="submit" value="Gửi Bình Luận" class="btn btn-primary " />
                    </div>
                }

            </div>
        </div>
    </div>
    

</div>
<script>
    $("form#form-bl").submit(function (e) {
        e.preventDefault();
        var form = $(this);
        var actionUrl = form.attr('action');
        $.ajax({
            type: "POST",
            url: actionUrl,
            data: form.serialize(), // serializes the form's elements.
            success: function (data) {
                if (data.mess == "success") {

                    Swal.fire({

                        icon: 'success',
                        title: 'Trả lời thành công',
                        text: 'Bạn đã trả lời đánh giá thành công',
                        showConfirmButton: true,

                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.reload()
                        }
                    })

                }
                else {
                    Swal.fire({

                        icon: 'error',
                        title: 'Xảy ra lỗi',
                        text: 'Đã xảy ra lỗi, vui lòng thử lại sau!',
                        showConfirmButton: true,

                    })
                }
            }
        });
    })
</script>