@using WebsiteBanHang.Models;
@model List<loaiSanPham>


@{
    ViewBag.Title = "XemLoaiSanPham";
    Layout = "~/Views/Layout/AdminHomeLayout.cshtml";
}


@{ 
    int soLSP = 1;
    int TongLSP= Model.Count();
    int soLSPHienThi = 6;
    int soTrang = TongLSP / soLSPHienThi;
    int kq = TongLSP % soLSPHienThi == 0 ? TongLSP / soLSPHienThi : (TongLSP / soLSPHienThi) + 1;
    int Trang = 1;
}




<div class="container mt-3">
    <h2>Danh Sách Loại Sản Phẩm</h2>

    <table class="table table-light table-hover table-bordered " style="z-index:99999;">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên loại Sản Phẩm</th>
                <th>Thao Tác</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (soLSP % soLSPHienThi ==0)
                {
                    Trang++;
                }
                <tr class="@Url.Content(" itemLSP Trang_"+Trang)">
                    <td>@item.MaLoaiSP</td>
                    <td>@item.TenLoai</td>

                    <td>
                        <a href="@Url.Action("SuaLoaiSanPham","Admin", new { @MaLoaiSP = item.MaLoaiSP })" class="btn btn-warning">Chỉnh Sửa</a>
                        <a data-MaLSP="@item.MaLoaiSP" id="x" @*href="@Url.Action("XoaSanPham", "Admin", new { @MaSP = item.MaSP })"*@ class="btn btn-danger x">Xoá</a>
                    </td>

                </tr>
                soLSP++;
            }


        </tbody>
    </table>
    <ul class="pagination justify-content-end">



        @for (int i = 1; i <= kq; i++)
        {
            <li data-Trang="@i" class=" @Url.Content("page-item Trang_"+i)"><a class="page-link">@i</a></li>

        }


    </ul>
</div>
<style>
    .itemLSP{
        display: none;
    }
</style>

<script>
    $(".Trang_1").show();
    $('.page-item').click(function () {
        $('.itemLSP').hide();
        var Trang = $(this).attr("data-Trang");
        $('.Trang_' + Trang).show();
    })

    $(".x").click(function () {
        Swal.fire({
            title: 'Bạn có chắc chắn muốn xoá loại sản phẩm này?',

            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#218838',
            cancelButtonColor: '#c82333',
            confirmButtonText: 'Xoá',
            cancelButtonText: 'Không'

        }).then((result) => {
            if (result.isConfirmed) {


                Swal.fire(

                    'Xoá thành công!',
                    'Your file has been deleted.',
                    'success'



                )

                var ma = $(this).attr("data-MaLSP");
                var url = 'http://localhost:62979/Admin/XoaLoaiSanPham?MaLoaiSP=' + ma;
                window.location.href = url;

            }

        })
    })



</script>




