@using WebsiteBanHang.Models;
@model List<loaiSanPham>


@{
    ViewBag.Title = "XemLoaiSanPham";
    Layout = "~/Views/Layout/AdminHomeLayout.cshtml";
}

<h2>XemLoaiSanPham</h2>





<div class="container mt-3" style="padding-top:80px;">
    <h2>Danh Sách Loại Sản Phẩm</h2>

    <table class="table table-light table-hover table-bordered " style="z-index:99999;">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên loại Sản Phẩm</th>
                <th>Thao Tác</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaLoaiSP</td>
                    <td>@item.TenLoai</td>
                    
                    <td>
                        <a href="@Url.Action("SuaLoaiSanPham","Admin", new { @MaLoaiSP = item.MaLoaiSP })" class="btn btn-warning">Chỉnh Sửa</a>
                        <a data-MaLSP="@item.MaLoaiSP" id="x" @*href="@Url.Action("XoaSanPham", "Admin", new { @MaSP = item.MaSP })"*@ class="btn btn-danger x">Xoá</a>
                    </td>
                   
                </tr>
            }


        </tbody>
    </table>
</div>
<script>

    $(".x").click(function () {
        Swal.fire({
            title: 'Bạn có chắc chắn muốn xoá loại sản phẩm này?',

            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#218838',
            cancelButtonColor: '#c82333',
            confirmButtonText: 'Xoá',
            cancelButtonText: 'Không'

        }).then((result) => {
            if (result.isConfirmed) {


                Swal.fire(

                    'Xoá thành công!',
                    'Your file has been deleted.',
                    'success'



                )

                var ma = $(this).attr("data-MaLSP");
                var url = 'http://localhost:62979/Admin/XoaLoaiSanPham?MaLoaiSP=' + ma;
                window.location.href = url;

            }

        })
    })



</script>




