

@using WebsiteBanHang.Models;
@model List<ThanhVien>


@{
    ViewBag.Title = "XemNguoiDung";
    Layout = "~/Views/Layout/AdminHomeLayout.cshtml";
    int i = 1;
}



    <h2>Danh Sách Người Dùng</h2>

    <table id="example" class="table table-light table-hover table-bordered " style="width:100%">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên Người Dùng</th>
                <th>Email</th>
                <th>SDT</th>
                <th>Thao Tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
               
                <tr >
                    <td>@i</td>
                    <td>@item.HoTen</td>
                    <td>@item.Email</td>
                    <td>@item.SDT</td>


                    @if (item.DaKhoa == false)
                    {
                        <td>
                            <a data-MaThanhVien="@item.MaThanhVien" @*href="@Url.Action("KhoaNguoiDung","Admin", new { @MaThanhVien = item.MaThanhVien })"*@ class="btn btn-danger block-user">Khoá</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a data-MaThanhVien="@item.MaThanhVien" @*href="@Url.Action("KhoaNguoiDung","Admin", new { @MaThanhVien = item.MaThanhVien })"*@ class="btn btn-secondary unblock-user">Đã Khoá</a>
                        </td>
                    }




                </tr>
                i++;
            }


        </tbody>
    </table>



<style>
    .itemUser {
        display: none;
    }

</style>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    })
    $(".Trang_1").show();
   $('.page-item').click(function () {
        $('.itemUser').hide();
        var Trang = $(this).attr("data-Trang");
        $('.Trang_'+Trang).show();
    })

    $(".block-user").click(function () {
        $(this).text("Đã Khoá");

        var matv = $(this).attr("data-MaThanhVien");
        console.log(matv);
        var url = "http://localhost:62979/Admin/KhoaNguoiDung?MaThanhVien=" + matv;
        window.location.href = url;
    })

    $(".unblock-user").click(function () {
        $(this).text("Khoá");

        var matv = $(this).attr("data-MaThanhVien");
        console.log(matv);
        var url = "http://localhost:62979/Admin/MoKhoaNguoiDung?MaThanhVien=" + matv;
        window.location.href = url;
    })




</script>





