@using WebsiteBanHang.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<SanPham>


@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Layout/SearchLayout.cshtml";
    Shop shop = ViewBag.shop as Shop;
}

<div class="product">
    <div class="container">
        <div class="col-md-3 product-price">
            <div class="product-middle mb-3">

                <div class="fit-top">
                    <img class="img-responsive rounded-circle" src="@Url.Content("~/Content/images/"+ shop.avt)" alt="Alternate Text" />
                    <h6 class="shop-top">@shop.TenShop</h6>
                    <a href="#" class="shop-now">SHOP NOW</a>
                    <div class="clearfix"> </div>
                </div>
            </div>
            @Html.Action("Menu2PartialView", "SanPham", new { @MaShop = shop.MaShop })

            <!--initiate accordion-->
            <script type="text/javascript">
                $(function () {
                    var menu_ul = $('.menu > li > ul'),
                        menu_a = $('.menu > li > a');
                    menu_ul.hide();
                    menu_a.click(function (e) {
                        e.preventDefault();
                        if (!$(this).hasClass('active')) {
                            menu_a.removeClass('active');
                            menu_ul.filter(':visible').slideUp('normal');
                            $(this).addClass('active').next().stop(true, true).slideDown('normal');
                        } else {
                            $(this).removeClass('active');
                            $(this).next().stop(true, true).slideUp('normal');
                        }
                    });

                });
            </script>
            <!---->

            <div class="sellers">
                <div class="of-left-in">
                    <h3 class="tag">Từ khóa</h3>
                </div>
                <div class="tags">
                    <ul>
                        <li><a href="#">merzy</a></li>
                        <li><a href="#">son</a></li>
                        <li><a href="#">s</a></li>
                        <li><a href="#">ttbc</a></li>
                        <li><a href="#">tẩy</a></li>
                        <li><a href="#">phấn nén</a></li>
                        <li><a href="#">dhc</a></li>
                        <li><a href="#">son dhc</a></li>
                        <li><a href="#">vichy</a></li>
                        <li><a href="#">seru</a></li>
                        <li><a href="#">tinh chat</a></li>
                        <li><a href="#">balance</a></li>

                        <div class="clearfix"> </div>
                    </ul>

                </div>

            </div>


            @Html.Action("SanPhamNoiBat", "SanPham")
            <!---->



        </div>
        <div class="col-md-9 product1">
            <div class=" row bottom-product">
                @foreach (var item in Model)
                {

                    <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                        <div class="product-at ">
                            <a href="@Url.Action("XemChiTietSP","SanPham", new {@id= item.MaSP, @MaShop = shop.MaShop})">
                                <img style="height: 326px" class="img-responsive" src="@Url.Content("~/Content/images/"+item.HinhAnh)" alt="">
                                <div class="pro-grid">
                                    <span class="buy-in">Mua ngay</span>
                                </div>
                            </a>
                        </div>
                        <div style="height:50px;">
                            <b><p class="tun">@item.TenSP</p></b>
                        </div>
                        @{
                            decimal? number = item.DonGia;
                            string GiaTien = number.Value.ToString("#,##0");
                        }
                        <a id="ThemGioHang" data-MaSP="@item.MaSP" data-strURL="@Request.Url.ToString()" @*href="@Url.Action("ThemGioHang","GioHang", new { @MaSP = item.MaSP, @strURL = Request.Url.ToString() })"*@ class="item_add ThemGioHang">
                            <p class="number item_price"><i> </i>@GiaTien</p>
                        </a>
                    </div>




                }

            </div>

            <div>

                @Html.PagedListPager(Model, page => Url.Action("SanPham", new { page = page, @MaLoaiSP = ViewBag.MaLoaiSP, @MaNSX = ViewBag.MaNSX }))
            </div>

        </div>
    </div>
</div>

        <script>
            $(".ThemGioHang").click(function () {
                var MaSP = $(this).attr("data-MaSP");
                var strURL = $(this).attr("data-strURL");
                $.ajax({


                    type: "get",

                    url: "http://localhost:62979/GioHang/ThemGioHang?MaSP=" + MaSP + "&strURL" + strURL,
                    contentType: "html",
                    statusCode: {
                        400: function (xhr) {

                            Swal.fire({

                                icon: 'error',
                                title: 'Sản phẩm đã hết hàng',
                                showConfirmButton: false,
                                timer: 1500

                            })
                        }
                    },
                    success: function (response) {
                        debugger


                        $("#GioHangPartial").html(response);


                    }

                })




            })
        </script>


