@using WebsiteBanHang.Models
@model List<SanPham>


@{
    ViewBag.Title = "ViewAllFlashSale";
    Layout = "~/Views/Layout/SearchLayout.cshtml";
}








<div class="content-top container flash-sale">


    <div class="grid-in">
       

        <div id="product-shop" class=" row bottom-product">
            @foreach (var item in Model)
            {

                decimal? number = item.DonGia;
                string GiaTien = number.Value.ToString("#,##0");
                string Giacuoicung = (item.DonGia - (item.DonGia * item.KhuyenMai) / 100).Value.ToString("#,##0");

                <div class="col-md-3 bottom-cd simpleCart_shelfItem">


                    <div class="product-at ">
                        <a href="@Url.Action("XemChiTietSP","SanPham", new {@id = item.MaSP, @MaShop = item.MaShop})">
                            <div class="S-product-item__wrapper-upper-left">
                                <div role="contentinfo" class="wrapper-upper-left__flashsale notranslate" tabindex="-1" data-ada-level="0" data-ada-pos="0-0">

                                    <i class="fa-solid fa-bolt suiiconfont sui_icon_flashsale_24px"></i>
                                    <span class="wrapper-upper-left__flashsale-percent">-45%</span>
                                </div><!-- ccc-tsp角标 --><!--v-if-->
                            </div>
                            <img style="height: 326px" class="img-responsive" src="@Url.Content("~/Content/images/"+item.HinhAnh)" alt="">
                            <div class="pro-grid">
                                <span class="buy-in">Mua ngay</span>
                            </div>
                        </a>
                    </div>
                    <div style="height:50px;">
                        <b><p class="tun">@item.TenSP</p></b>
                        <br />

                    </div>
                    <div class="row">
                        <p class="number item_price col-6"><i> </i>@Giacuoicung</p>
                        <del class="number item_price col-6">@GiaTien</del>
                    </div>
                    <br />
                    <div class="progress">
                        <div class="progress-bar color-blue" style="width:10%"></div>

                    </div>
                    <br>
                    <p> 10% đã bán</p>


                </div>




            }

        </div>
    </div>
    <div class="clearfix"></div>
</div>

<style>

    .nono {
        font-size: 17px;
        font-weight: 800;
        padding: 4px;
        color: black;
    }

    .time {
        border: solid 1px #ACACAC;
        padding: 2px;
        background-color: black;
        color: white;
        height: 30px;
        width: 70px;
        font-size: 13px;
        font-weight: 600;
        border-radius: 10px;
    }

    #time-flash-sale, #view-all {
        display: flex;
        justify-content: flex-end;
        margin-right: 70px;
    }
</style>


<script>


    $(document).ready(function () {
        $('#list').click(function (event) { event.preventDefault(); $('#products .item').addClass('list-group-item'); });
        $('#grid').click(function (event) { event.preventDefault(); $('#products .item').removeClass('list-group-item'); $('#products .item').addClass('grid-group-item'); });
    });


</script>
