@using WebsiteBanHang.Models;
@model SanPham


@{
    ViewBag.Title = "XemChitietSP";
    Layout = "~/Views/Layout/ProductLayout.cshtml";

    List<BinhLuan> ListBL = ViewBag.ListBL as List<BinhLuan>;
    List<TraLoiBinhLuan> ListTL = ViewBag.ListTL as List<TraLoiBinhLuan>;
}



<div id="XemChiTietSP">
    <div class="col-md-9 product-price1">



        <div class="col-md-5 single-top">
            <div class="flexslider">

                <div class="flex-viewport" style="overflow: hidden; position: relative;">

                    <ul class="slides" style="width: 1200%; transition-duration: 0.6s; transform: translate3d(-1217.6px, 0px, 0px);">
                        <li data-thumb="@Url.Content("~/Content/images/"+Model.HinhAnh)" class="clone" aria-hidden="true" style="width: 304.4px; float: left; display: block;">
                            <img src="@Url.Content("~/Content/images/"+Model.HinhAnh)" draggable="false">
                        </li>
                        <li data-thumb="@Url.Content("~/Content/images/"+Model.HinhAnh1)" style="width: 304.4px; float: left; display: block;" class="">
                            <img src="@Url.Content("~/Content/images/"+Model.HinhAnh1)" draggable="false">
                        </li>
                        <li data-thumb="@Url.Content("~/Content/images/"+Model.HinhAnh2)" style="width: 304.4px; float: left; display: block;" class="">
                            <img src="@Url.Content("~/Content/images/"+Model.HinhAnh2)" draggable="false">
                        </li>
                        <li data-thumb="@Url.Content("~/Content/images/"+Model.HinhAnh3)" style="width: 304.4px; float: left; display: block;" class="">
                            <img src="@Url.Content("~/Content/images/"+Model.HinhAnh3)" draggable="false">
                        </li>

                    </ul>

                </div>
            </div>
            <!-- FlexSlider -->
            <script defer="" src="~/Content/js/jquery.flexslider.js"></script>
            <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen">
            <script>
                // Can also be used with $(document).ready()
                $(window).load(function () {
                    $('.flexslider').flexslider({
                        animation: "slide",
                        controlNav: "thumbnails"
                    });
                });
            </script>
        </div>
        <div class="col-md-7 single-top-in simpleCart_shelfItem">
            <div class="single-para ">
                <h4>@Model.TenSP</h4>
                <div class="star-on">
                    <ul class="star-footer">
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i> </i></a></li>
                    </ul>
                    <div class="review">
                        <a href="#"> 1 customer review </a>

                    </div>
                    <div class="clearfix"> </div>
                </div>
                @{ 
                    decimal? number = Model.DonGia;
                    string GiaTien = number.Value.ToString("#,##0");
                }

            <h5 class="item_price">@GiaTien </h5>
                <p>
                    @Html.Raw(Model.MoTa)
                </p>



                <a data-MaSP="@Model.MaSP" data-strURL="@Request.Url.ToString()" @*href="@Url.Action("ThemGioHang","GioHang", new { @MaSP = Model.MaSP, @strURL = Request.Url.ToString()  })"*@ class="add-cart item_add ThemGioHang">ĐẶT HÀNG</a>

            </div>

        </div>
        <div class="clearfix">

        </div>
        <div id="CMT">
            <h1> Bình luận</h1>
            <div>
                @if (Session["TaiKhoan"] != null)
                {
                    <input type="hidden" name="MaSP" value="@Model.MaSP" id="masp" />
                    <input class="form-control" type="text" name="NoiDungBL" value="" id="noidung" />
                    <p id="divEmp" style="color:red;"></p>
                    <div>
                        @*<a id="btn-BL" href="" class="btn btn-primary">Gửi Bình Luận</a>*@
                        <input id="btn-BL" type="button" value="Gửi Bình Luận" class="btn btn-primary float-end" />
                    </div>
                }
                else
                {
                    <h3>Dui lòng đăng nhập để gửi bình luận</h3>
                }
            </div>
            <div class="clearfix"> </div>


            <div id="container-binhluan">
                @foreach (var item in ListBL)
                {
                    <div class="form-control binhluan" id="binhluan">
                        <div>
                            <label id="TenBL"> @item.ThanhVien.HoTen</label>
                        </div>
                        <div id="ndBL" class="noidungbinhluan" data-mabl="@item.MaBL">
                            @item.NoiDungBL
                        </div>

                        @if (ListTL != null)
                        {
                            foreach (var tl in ListTL)
                            {
                                if (tl.MaBL == item.MaBL)
                                {
                                    <div id="TraLoiBL">
                                        <div class="form-control " id="TLbinhluan">
                                            <div>
                                                <label id="TenBL">@tl.ThanhVien.HoTen</label>
                                            </div>
                                            <div id="ndBL">
                                                @tl.NoiDungTraLoi
                                            </div>

                                        </div>

                                    </div>
                                }
                            }
                        }
                    </div>
                }
                <b id="loadMore">Hịn thêm thì click dô</b>
            </div>
        </div>
    </div>
</div>

<style>
    #HienThiThem {
        color: blue;
        text-decoration: blue;
        text-decoration-line: none;
        text-decoration-line: underline;
        font-size: 12px;
        padding: 4px;
    }

        #HienThiThem:hover {
            cursor: pointer;
        }

    .itemSearch {
        display: none;
    }

    .Trang_1 {
        display: block;
    }
</style>
<script>
    $(".ThemGioHang").click(function () {
        var MaSP = $(this).attr("data-MaSP");
        var strURL = $(this).attr("data-strURL");
        $.ajax({


            type: "get",

            url: "http://localhost:62979/GioHang/ThemGioHang?MaSP=" + MaSP + "&strURL" + strURL,
            contentType: "html",
            statusCode: {
                400: function (xhr) {

                    Swal.fire({

                        icon: 'error',
                        title: 'Sản phẩm đã hết hàng',
                        showConfirmButton: false,
                        timer: 1500

                    })
                }
            },
            success: function (response) {
                debugger


                $("#GioHangPartial").html(response);


            }

        })




    })



    $(document).ready(function () {
        $("#btn-BL").click(function () {
            var masp = $("#masp").val();
            var noidung = $("#noidung").val();
            $.ajax('/SanPham/ThemBinhLuan',
                {
                    type: "POST",
                    dataType: 'json',
                    data: { NoiDungBL: noidung, MaSP: masp },  // data to submit
                    success: function (data, status, xhr) {

                        if (data.status) {
                            $("#noidung").val('');

                            alert("Thành công")

                            $("#container-binhluan").prepend(
                                '<div class="form-control " id="binhluan">' +
                                '<div>' +
                                '<label id="TenBL">' + data.TenThanhVien + '</label>' +
                                '</div>' +
                                '<div id="ndBL">'
                                + noidung +
                                '</div>' +
                                '</div>'
                            );
                        }
                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        console.log(data)
                    }
                });
        });
        $(".binhluan").hide();
        $(".binhluan").slice(0, 4).show();
        $("#loadMore").on("click", function (e) {
            e.preventDefault();
            $(".binhluan:hidden").slice(0, 4).slideDown();
            if ($(".binhluan:hidden").length == 0) {
                $("#loadMore").text("Hết gòi bà dà");
            }
        });

        $(".noidungbinhluan").click(function () {
            var noidung = window.prompt("Nhập nội dung bình luận");
            var mabl = $(this).attr("data-mabl")
            if (noidung) {
                $.ajax('/SanPham/SuaBinhLuan',
                    {
                        type: "POST",
                        dataType: 'json',
                        data: { MaBL: mabl, noidung: noidung },
                        success: function (data, status, xhr) {
                            if (data.status) {
                                $('body').find('[data-mabl=' + mabl + ']').html(noidung);
                            }
                        },
                        error: function (jqXhr, textStatus, errorMessage) {
                            console.log(data)
                        }
                    });
            }
        })
    });
</script>

