@using WebsiteBanHang.Models
@model List<SanPham>
@{
    ViewBag.Title = "XemFlashSale";
    Layout = "~/Views/Layout/QuanTriLayout.cshtml";
    List<ChiTietFlashSale> list = ViewBag.listSale as List<ChiTietFlashSale>;
}

@{
            int i = 1;
    int soSP = 1;
    int tongSoSP = Model.Count();
    int soSPHienThi = 6;
    int soTrang = (tongSoSP / soSPHienThi);
    int soTrangHienThi = tongSoSP % soSPHienThi == 0 ? tongSoSP / soSPHienThi : (tongSoSP / soSPHienThi) + 1;
    int Trang = 1;
}
<div style="min-height:700px"  class="inner_content">
    <h3>TẤT CẢ CÁC SHOP</h3>
    <table id="table-max-height" class="max-height">
        <thead>

            <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Tên Sản Phẩm</th>
                <th class="text-center">Hình Ảnh</th>

                <th class="text-center">Tên Shop</th>


                <th class="text-center">Tình Trạng</th>


            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {
                int k = 0;
                foreach (var item in Model)
                {

                    if (soSP % soSPHienThi == 0)
                    {
                        Trang++;
                    }
                    <tr class=" @Url.Content("item_sp Trang_"+Trang)">
                        <td class="text-center"><span class="bt-content">@i</span></td>
                        <td class="text-center"><span class="bt-content">@item.TenSP</span></td>
                        <td class="text-center">
                            <img style="width:150px" class="bt-content" src="@item.HinhAnh" alt="Alternate Text" />
                        </td>

                        <td class="text-center">

                            <span class="bt-content">@item.Shop.TenShop</span>
                        </td>
                        <td class="text-center">
                            @if (list[k].NgungSale == false)
                            {
                                <span class="bt-content">Đang sale</span>
                            }
                            else
                            {
                                <span class="bt-content">Ngưng sale</span>
                            }
                        </td>

                    </tr>
                    soSP++;
                    i++;
                    k++;

                }

            }
            else
            {
                <tr >
                   
                    <td class="text-center">
                        <span class="bt-content">  Chưa có sản phẩm nào</span>
                    </td>

                </tr>
               
            }



        </tbody>
    </table>

    <!-- The Modal -->
    <div class="modal" id="myModal">

    </div>

    <div class="w3-center">
        <div class="w3-bar text-center">
            <a href="#" class="w3-button">«</a>
            @for (int j = 1; j <= soTrangHienThi; j++)
            {

                <a data-Trang="@j" href="#" class=" @Url.Content(" w3-button  page-item Trang_"+j)">@j</a>
            }

            <a href="#" class="w3-button">»</a>
        </div>
    </div>
</div>
<style>
    .item_sp {
        display: none;
    }

    .btn-info {
        color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da;
    }

    .btn-danger {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }

    table {
        background: white;
        border-collapse: collapse;
        margin: 1.25em 0 0;
        width: 100%;
    }

        table tr,
        table th,
        table td {
            border: none;
            border-bottom: 1px solid #e8e8e8;
            font-size: 13px;
        }

        table th,
        table td {
            padding: 10px 12px;
            text-align: left;
        }

        table th {
            background: #e53238;
            color: #fff;
            text-transform: uppercase;
        }

        table tr td {
            background: #f3faff;
            color: #424242;
        }

        table tr:nth-of-type(2n+2) td {
            background: #ffffff;
        }

        table.bt tfoot th,
        table.bt tfoot td,
        table.bt tbody td {
            font-size: .8125rem;
            padding: 0;
        }

            table.bt tfoot th:before,
            table.bt tfoot td:before,
            table.bt tbody td:before {
                background: #e74c3c;
                margin-right: 10px;
                padding: 2px 10px;
                color: #000000;
                text-transform: uppercase;
            }

            table.bt tfoot th .bt-content,
            table.bt tfoot td .bt-content,
            table.bt tbody td .bt-content {
                display: inline-block;
                padding: 2px 5px;
            }

            table.bt tfoot th:first-of-type:before,
            table.bt tfoot th:first-of-type .bt-content,
            table.bt tfoot td:first-of-type:before,
            table.bt tfoot td:first-of-type .bt-content,
            table.bt tbody td:first-of-type:before,
            table.bt tbody td:first-of-type .bt-content {
                padding-top: 10px;
            }

            table.bt tfoot th:last-of-type:before,
            table.bt tfoot th:last-of-type .bt-content,
            table.bt tfoot td:last-of-type:before,
            table.bt tfoot td:last-of-type .bt-content,
            table.bt tbody td:last-of-type:before,
            table.bt tbody td:last-of-type .bt-content {
                padding-bottom: 10px;
            }
</style>
<script>


        $('.Trang_1').show();
        $('.page-item').click(function () {

            $('.item_sp').hide();
        var Trang = $(this).attr("data-Trang");
        $('.Trang_' + Trang).show();



    })
</script>
